.App {
  text-align: center;
}

.cp-copy, .cp-restart, .cp-options, .cp-restart > span {
  display: block;
}

.cp-copy, .cp-restart, .cp-options, .cp-choosed {
  margin: 5px;
}

.cp-copy > * {
  display: block;
}

.cp-choosed {
  display: inline-block;
  height: 65px;
  width: 65px;
  vertical-align: center;
}
